html,body {
  background: #EFF3F4;
  font-family: 'Lato', serif;
}

a {
  transition: .15s all linear;
}

.title, .content h2 {
  font-size: 1.5rem;
}

.subtitle {
  font-size: 1rem;
}

.select select {
  border: 2px solid #dce4ec;
  padding: 10px 15px;
  border-radius: 4px;
  color: #2c3e50;
  height: 45px;
}

.select:not(.is-multiple):not(.is-loading)::after { 
  top: 65%;
}

/* transforms and animations */

.rotate-90 {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  left: 11px;
  top: -13px;
}

.rotate-180 {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rotate-270 {
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  left: 11px;
  top: -13px;
}

.flip {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

.flip-and-rotate-90 {
  -moz-transform: rotate(90deg) scaleX(-1);
  -webkit-transform: rotate(90deg) scaleX(-1);
  -o-transform: rotate(90deg) scaleX(-1);
  transform: rotate(90deg) scaleX(-1);
  left: 11px;
  top: -13px;
}

.flip-and-rotate-180 {
  -moz-transform: rotate(180deg) scaleX(-1);
  -webkit-transform: rotate(180deg) scaleX(-1);
  -o-transform: rotate(180deg) scaleX(-1);
  transform: rotate(180deg) scaleX(-1);
}

.flip-and-rotate-270 {
  -moz-transform: rotate(270deg) scaleX(-1);
  -webkit-transform: rotate(270deg) scaleX(-1);
  -o-transform: rotate(270deg) scaleX(-1);
  transform: rotate(270deg) scaleX(-1);
  left: 11px;
  top: -13px;
}

.navbar-burger {
  color: #fff;
}

.hidden-loading {
  display: none;
}

.help {
  font-size: 1rem;
}

.auth-status a {
  border-color: yellow;
}

.navbar-menu {
  background-color: transparent!important;
  padding-bottom: 0;
}

.field.is-grouped {
  justify-content: flex-end;
}

.hero .navbar {
  background-color: #209cee;
  background-image: linear-gradient(141deg, #04a6d7 0%, #209cee 71%, #3287f5 100%);
}

.hero .navbar .tabs a {
  color: #fff!important;
}

.navbar .tabs ul {
  border-bottom: none;
}

.navbar .tabs li.is-active a {
  border-bottom-color: #fff!important;
}

.hero .navbar .tabs ul a:hover {
  border-bottom-color: #fff!important;
  /*text-shadow: 1px 1px 1px #666;*/
}

.button.is-white.is-outlined:hover {
  color: #209cee!important;
}

.is-outlined {
  border-width: 2px!important;
}

.button.is-medium {
  font-size: 1.1rem;
}

.navbar .tabs ul a:hover{
  border-bottom-color: #019ccd;
}

.account-tabs {
  margin-top: -5em;
  padding-top: 5em;
}

.tabs ul {
  border-bottom-color: #dce4ec;
  border-bottom-width: 2px;
}

.tabs ul a {
  border-bottom-color: #dce4ec;
  border-bottom-width: 2px;
  margin-bottom: -2px;
}

/*.account-tabs .is-active .fa {
  color: #3273dc!important;
}*/

.button.is-large {
  margin-top: 1em;
  min-width: 280px;
  padding-top: 0.3em;
}


.input {
  outline: none;
  border: 2px solid #dce4ec;
  color: #2c3e50;
  height: 45px;
  padding: 10px 15px; 
  border-radius: 4px; 
  -webkit-box-shadow: none;
  box-shadow: none;
}

.input:focus {
  box-shadow: none;  
}

.spinner-outer {
  width: 100%;
  height:90vh;
  background-color: transparent;
  filter: none!important;
}

.spinner{
  width:128px;
  margin-left:-64px;
}

.spinner-message{
  position:absolute;
  left:50%;
  margin-top:50%;
  width:300px;
  font-size:127%;
  line-height:182%;
  margin-left:-150px;
  display:none;
  text-align:center;
  background-color:#019ccd;
  opacity:.5
}

.spinner-container{
  pointer-events:none;
  position:fixed;
  width:100%;
  z-index: 100;
  padding-bottom:100%;
  top:50%;
  left:50%;
  margin-top:-50%;
  margin-left:-50%;
  animation:spinner-linspin 1568.23529647ms linear infinite;
  -webkit-animation:spinner-linspin 1568.23529647ms linear infinite
}

.spinner-container.inline{
  position: relative;
}

.spinner-container.fixed{
  top: 42%;
}

.spinner-rotator{
  position:absolute;
  width:100%;
  height:100%;
  -webkit-animation:spinner-easespin 5332ms cubic-bezier(0.4,0.0,0.2,1) infinite both;
  animation:spinner-easespin 5332ms cubic-bezier(0.4,0.0,0.2,1) infinite both
}

.spinner-left{
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  overflow:hidden
}

.spinner-right{
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  overflow:hidden
}

.spinner-left{
  right:49%
}

.spinner-right{
  left:49%
}

.spinner-circle{
  box-sizing:border-box;
  position:absolute;
  width:200%;
  height:100%;
  border-style:solid;
  border-color:#3273dc #3273dc transparent;
  border-radius:50%;
  border-width:6px
}

.spinner-circle.grey{
  border-color:#cacaca #cacaca transparent;
}

.big-mode .spinner-circle{
  border-width:12px
}

.spinner-left .spinner-circle{
  border-right-color:transparent;
  -webkit-animation:spinner-left-spin 1333ms cubic-bezier(0.4,0.0,0.2,1) infinite both;
  animation:spinner-left-spin 1333ms cubic-bezier(0.4,0.0,0.2,1) infinite both
}

.spinner-right .spinner-circle{
  left:-100%;
  border-left-color:transparent;
  -webkit-animation:right-spin 1333ms cubic-bezier(0.4,0.0,0.2,1) infinite both;
  animation:right-spin 1333ms cubic-bezier(0.4,0.0,0.2,1) infinite both
}

@-webkit-keyframes spinner-linspin{
  to{
    -webkit-transform:rotate(360deg)
  }
}

@keyframes spinner-linspin{
  to{
    transform:rotate(360deg)
  }
}

@-webkit-keyframes spinner-easespin{
  12.5%{
    -webkit-transform:rotate(135deg)
  }
  25%{
    -webkit-transform:rotate(270deg)
  }
  37.5%{
    -webkit-transform:rotate(405deg)
  }
  50%{
    -webkit-transform:rotate(540deg)
  }
  62.5%{
    -webkit-transform:rotate(675deg)
  }
  75%{
    -webkit-transform:rotate(810deg)
  }
  87.5%{
    -webkit-transform:rotate(945deg)
  }
  to{
    -webkit-transform:rotate(1080deg)
  }
}

@keyframes spinner-easespin{
  12.5%{
    transform:rotate(135deg)
  }
  25%{
    transform:rotate(270deg)
  }
  37.5%{
    transform:rotate(405deg)
  }
  50%{
    transform:rotate(540deg)
  }
  62.5%{
    transform:rotate(675deg)
  }
  75%{
    transform:rotate(810deg)
  }
  87.5%{
    transform:rotate(945deg)
  }
  to{
    transform:rotate(1080deg)
  }
}

@-webkit-keyframes spinner-left-spin{
  0%{
    -webkit-transform:rotate(130deg)
  }
  50%{
    -webkit-transform:rotate(-5deg)
  }
  to{
    -webkit-transform:rotate(130deg)
  }
}

@keyframes spinner-left-spin{
  0%{
    transform:rotate(130deg)
  }
  50%{
    transform:rotate(-5deg)
  }
  to{
    transform:rotate(130deg)
  }
}

@-webkit-keyframes right-spin{
  0%{
    -webkit-transform:rotate(-130deg)
  }
  50%{
    -webkit-transform:rotate(5deg)
  }
  to{
    -webkit-transform:rotate(-130deg)
  }
}

@keyframes right-spin{
  0%{
    transform:rotate(-130deg)
  }
  50%{
    transform:rotate(5deg)
  }
  to{
    transform:rotate(-130deg)
  }
}

.normal-css-loaded{
  display:none
}

.spinner-container{
  width:50px;
  padding-bottom:50px;
  margin-top:-25px;
  margin-left:-25px
}

.big-mode .watch-later-icon .spinner-container{
  width:35px;
  padding-bottom:35px;
  margin-top:-17.5px;
  margin-left:-17.5px
}

.watch-later-icon .spinner-circle{
  border-width:3px
}

.big-mode .watch-later-icon .spinner-circle{
  border-width:5px
}

.hero-body.is-pin { 
  padding-top: 3em!important;
}

.hero-body .container {
  max-width: 700px;
}

.hero-body .container.narrow {
  max-width: 400px;
}

.hero-body .title {
  /*color: hsl(192,17%,99%) !important;*/
}
.hero-body .subtitle {
  /*color: hsl(192,17%,99%) !important;*/
  padding-top: 2rem;
  line-height: 1.5;
}

.hero-picture {
  position: relative;
  background-color: #333;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 300px;
}

.hero-status {
  position: fixed;
  z-index: 99;
  left: 15px;
  bottom: 10px;
}

.hero-status ul {
  list-style: none;
}

.is-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border:4px solid #ececec;
}

.is-pin {
  display: block;
  top: -5px;
  left: -5px;
}

.hero-status .is-circle {
  text-align: center;
  margin-top: 10px;
  width: 60px;
  height: 60px;  
  display: block;  
  border-width: 2px;
}

.hero-status .is-circle .icon {
  font-size: 30px;
  padding-top: 25px;
  text-shadow: 2px 2px 1px #777;
}

.hero-compose .is-circle {
  border-color: #77d288;
}
.picture {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; 
  /*box-shadow: 0 0 4px rgba(0,0,0,0.1), 0 6px 0 inset rgba(0,0,0,0.1); */
}

.compose .picture {
  background-color: #31c91a;
}

.picture .icon {
  position: absolute;
  top: 10px;
  left: 15px;
  cursor: pointer;
  opacity: 0;
  transition: opacity .3s ease-in;
}

.badge .picture .icon {
  top: 45px;
  left: 45px; 
  font-size: 32px !important;
}

.badge .picture:hover .icon,
.box .picture:hover .icon {
  opacity: 1;
}


.hero-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem;
}

.hero-picture .title,
.hero-picture .subtitle {
  text-shadow: 1px 1px 1px #333;
  color: #fff;
}

.features {
  padding: 5rem 0;
}
.box.cta {
  border-radius: 0;
  border-left: none;
  border-right: none;
}
.card-image > .fa {
  font-size: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #209cee;
}
.card-content .content {
  font-size: 14px;
  margin: 1rem 1rem;
}
.card-content .content h4 {
  font-size: 16px;
  font-weight: 700;
}
.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  margin-bottom: 2rem;
}
.intro {
  padding: 5rem 0;
  text-align: center;
}
.sandbox {
  padding: 5rem 0;
}
.tile.notification {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.is-shady {
  animation: flyintoright .4s backwards;
  background: #fff;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 0;
  border-radius: 4px;
  display: inline-block;
  margin: 10px;
  position: relative;
  transition: all .2s ease-in-out;
}
.is-shady:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, .13), 0 6px 6px rgba(0, 0, 0, .19);
}
.hero-form {
  padding: 1em;
  border-radius: 7px;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  background-color: white;
}
/*adds font awesome stars*/
/*
footer li {
  padding-left: 25px;
}
footer li:before {
  content: '\f1b2';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color: #147efb;
}

.slick-item {
  height: 300px;
}*/

/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
.quickview.is-active {
    right: 0;
    box-shadow: 5px 0px 13px 3px rgba(0,0,0,0.1);
}
.quickview {
    width: 30%;
    right: -30%;
}
.quickview {
    width: 35%;
    right: -35%;
}
.quickview {
    width: 50%;
    right: -50%;
}
.quickview {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    max-width: calc( 100% - 50px );
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 35;
    transform: translateZ(0);
    transition: .3s ease;
    backface-visibility: hidden;
    perspective: 1000;
    will-change: transform;
}

@media screen and (max-width: 380px) {
  .box .media-left {
    display: none;
  }
  .fa-2x {
    font-size: 1.5em!important;
  }
  .beliefs-list {
    left: -1px!important;
  }
}

@media screen and (max-width: 440px) {
  .hero-body {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (max-width: 640px) {
  .tabs {
    flex-direction: column;
  }
}