<p>Here is the link to your Refocus. Please note that this link is completely private (unless you decide to share it, of course!). You can print your Refocus by pressing the Print Refocus button.</p>
<br>
<a href="{{app_url}}/rf/{{guid}}">{{app_url}}/rf/{{guid}}<a>
<br>
<p>You'll see that your Refocus is not necessarily the opposite of your original Core Belief, but a new alternative option. You're now ready to step onto this new path and take action.<br>Let us know if ​you ​need any help!</p>
<p>We're here to support your success,<br>
The Blue Ocean Company's Inspiration Zone Team</p>