{% extends "layouts/default.html" %}

{% block head %}

  	<title>You have refocused!</title>
  	<meta name="description" content="You've refocused! on The Blue Ocean Company">

{% endblock %}

{% block body %}

	<body class="home hallofrefocuses production">
		
		<!-- Page contents -->
		<div role="main" id="container">
			<div id="notices"></div>
			
			<div id="pagewrapper">
				
				{% include 'header.html' %}
				
			<div id="content" style="width:1000px">
					<div class="content contentHall">
						<h1>You have <br /><span class="em">refocused!</span></h1>
					
						<div id="hallContainer">
							<div class="supportBe">	
							{% for i, item in reframes %}
								<div class="newreframeBe">
								{% for j, text in item.beliefs %}
									{% if j < 4 %}
									<div class="new {% if j == 0%}first{% elseif j == 3 %}last{% else %}middle{{j}}{% endif %} circle-text" id="circle-2">
										<div class="content">{{ text }}</div>
									</div>
									{% endif %}
								{% endfor %}
								</div>
								<div class="reframe">
									<div class="belief circle-text" id="circle-1"><div class="content">{{ item.belief }}</div></div>
									<div class="belief opposite circle-text" id="circle-1"><div class="content">{{ item.opposite }}</div></div>
								</div>
								<div class="newreframeOp">
								{% for h, text in item.opposites %}
									{% if h < 4 %}
									<div class="new {% if h == 0%}firstOp{% elseif h == 3 %}lastOp{% else %}middle{{h}}Op{% endif %} circle-text" id="circle-2">
										<div class="content">{{ text }}</div>
									</div>
									{% endif %}
								{% endfor %}
								</div>
							{% endfor %}
							</div>
						</div>
						<div style="clear:both;"></div>
						<ul class="buttonbarHall">
							<li><a href="{{baseurl}}" class="button white">Back to homepage</a></li>
							<li><a href="/share" class="button">Share this tool</a></li>
							<li><a href="javascript:window.print()" class="button">Print your ReFocus</a></li>
						</ul>
					</div>
					
					<div style="clear:both; padding-bottom:75px;"></div>
					
					<!--div class="addthis_native_toolbox">
						<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-547f279d69aa90ba" async="async"></script-->
					</div>				</div>
			
				<footer></footer>			</div>		</div>

		<!-- Templates used in Backbone -->


	</body>

{% endblock %}

{% block assets %}
  	<script type="text/javascript" src="{{assetspath}}/js/78b2d3.js?_=ef034c97" charset="UTF-8"></script>
	<script type="text/javascript" src="{{assetspath}}/js/66951dae.js?_=ef034c97" charset="UTF-8"></script>
{% endblock %}